<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="about-content">
      <h2>About Us</h2>
      <p>Path on becoming back-end developer.</p>
      <p>I also love front-end.</p>
      <p>As long as developer.</p>
      <p>I admire all developers in the world.</p>
      <p>I love and enjoy learning new things.</p>
      <p>
        As possible, learn anything and everything to become a good developer
        someday.
      </p>
      <p>I will do anything and everything to become a developer.</p>
      <p>Be more curious!.</p>
      <p>Focus!.</p>
      <p>Hard Work!.</p>
      <p>Consistency!.</p>
      <p>God is Good!.</p>
    </div>
  </body>
  <%- include("./partials/footer.ejs") %>
</html>
